In [1]:
'''Create an “Academic performance” dataset of students and perform the following operations using Python.
1. Scan all variables for missing values and inconsistencies. If there are missing values and/or inconsistencies, use any of the suitable 
techniques to deal with them.
2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable techniques to deal with them.
3. Apply data transformations on at least one of the variables. The purpose of this transformation should be one of the following reasons: 
to change the scale for better understanding of the variable, to convert a non-linear relation into a linear one, or to decrease the skewness 
and convert the distribution into a normal distribution.
Reason and document your approach properly.'''

'Create an “Academic performance” dataset of students and perform the following operations using Python.\n1. Scan all variables for missing values and inconsistencies. If there are missing values and/or inconsistencies, use any of the suitable \ntechniques to deal with them.\n2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable techniques to deal with them.\n3. Apply data transformations on at least one of the variables. The purpose of this transformation should be one of the following reasons: \nto change the scale for better understanding of the variable, to convert a non-linear relation into a linear one, or to decrease the skewness \nand convert the distribution into a normal distribution.\nReason and document your approach properly.'

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Pr2.csv")
df

,Sno,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20.0,Yes,Good,Under-7,M
1,2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25.0,Yes,Good,Under-7,M
2,3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30.0,No,Bad,Above-7,L
3,4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35.0,No,Bad,Above-7,L
4,5,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50.0,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,476,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8.0,No,Bad,Above-7,L
476,477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28.0,No,Bad,Under-7,M
477,478,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29.0,No,Bad,Under-7,M
478,479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57.0,No,Bad,Above-7,L
479,480,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62.0,No,Bad,Above-7,L

In [4]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       480 non-null    int64
 1   gender                    480 non-null    object
 2   NationalITy               480 non-null    object
 3   PlaceofBirth              480 non-null    object
 4   StageID                   480 non-null    object
 5   GradeID                   480 non-null    object
 6   SectionID                 480 non-null    object
 7   Topic                     480 non-null    object
 8   Semester                  480 non-null    object
 9   Relation                  480 non-null    object
 10  raisedhands               480 non-null    int64
 11  VisITedResources          480 non-null    int64
 12  AnnouncementsView         480 non-null    int64
 13  Discussion                478 non-null    float64
 14  ParentAnsweringSurvey     480 non-null    object
 15  ParentschoolSatisfaction  480 non-null    object
 16  StudentAbsenceDays        480 non-null    object
 17  Class                     480 non-null    object
dtypes: float64(1), int64(4), object(13)
memory usage: 67.6+ KB

In [5]:
df.info()
df.isnull()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       480 non-null    int64
 1   gender                    480 non-null    object
 2   NationalITy               480 non-null    object
 3   PlaceofBirth              480 non-null    object
 4   StageID                   480 non-null    object
 5   GradeID                   480 non-null    object
 6   SectionID                 480 non-null    object
 7   Topic                     480 non-null    object
 8   Semester                  480 non-null    object
 9   Relation                  480 non-null    object
 10  raisedhands               480 non-null    int64
 11  VisITedResources          480 non-null    int64
 12  AnnouncementsView         480 non-null    int64
 13  Discussion                478 non-null    float64
 14  ParentAnsweringSurvey     480 non-null    object
 15  ParentschoolSatisfaction  480 non-null    object
 16  StudentAbsenceDays        480 non-null    object
 17  Class                     480 non-null    object
dtypes: float64(1), int64(4), object(13)
memory usage: 67.6+ KB

,Sno,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
477,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull()

,Sno,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
477,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Sno                         0
gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  2
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [8]:
avg_val = df["Discussion"].astype("float").mean()
avg_val

43.27824267782427

In [9]:
df['Discussion'].replace(to_replace = np.nan, value = avg_val, inplace = True)
df.isnull().sum()

C:\Users\abhis\AppData\Local\Temp\ipykernel_1532\2754423699.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discussion'].replace(to_replace = np.nan, value = avg_val, inplace = True)

Sno                         0
gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable techniques to deal with them.

In [10]:
import seaborn as snss
import matplotlib.pyplot as plt
from scipy import stats

ModuleNotFoundError: No module named 'scipy'

In [ ]:
sns.boxplot(x=df['AnnouncementsView'])
plt.show()

In [ ]:
sns.regplot(x='Sno', y='AnnouncementsView', data=df)
plt.show()

In [ ]:
z = np.abs(stats.zscore(df['AnnouncementsView']))
z

In [ ]:
threshold = 3
print(np.where(z > 3))

In [ ]:
z[419]

In [ ]:
avg_val = int(df[df.index != 419]["AnnouncementsView"].mean())
avg_val

In [ ]:
df.at[419, 'AnnouncementsView'] = avg_val
sns.boxplot(x=df['AnnouncementsView'])
plt.show()

In [ ]:
df[415:420]

3. Apply data transformations on at least one of the variables.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

discussion_values = df['Discussion'].values.reshape(-1, 1)
df['Discussion_scaled'] = scaler.fit_transform(discussion_values)

In [ ]:
plt.figure(figsize=(12, 6))

plt.subplot(1, 2, 1)
sns.histplot(df['Discussion'], kde=True, color='blue')
plt.title('Original Distribution')

plt.subplot(1, 2, 2)
sns.histplot(df['Discussion_scaled'], kde=True, color='green')
plt.title('MinMaxScaled Distribution')

plt.tight_layout()
plt.show()